/*General styles*/

html {
    font-family: "Overpass", sans-serif; // 300 - 600
    font-family: "Ubuntu", sans-serif; //400 - 500 - 700
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
}

.desktop-only-image {
    display: none;
}

.mobile-only-image {
    display: inline-block;
}

/*Grid styles*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.limited {
    max-width: 1240px;
    margin: auto;
    padding: 0 15px;
}

@for $i from 1 to 13 {
    $w: ($i/12) * 100%;
    .small-#{$i} {
        flex-basis: $w;
    }
}

/*Header styles*/

header {
    position: relative;

    padding: 40px 25px 80px 25px;

    background-image: linear-gradient(to right, $gradient-very-light-red, $gradient-light-red);
    color: white;

    border-bottom-left-radius: 100px;

    /*Estilos para el logo*/
    #header-logo {
        width: clamp(75px, 45%, 100px);
        height: clamp(auto, auto, 100%);
        padding-top: 2%;
    }

    /*Estilos para el boton hamburger*/
    #hamburger-button-div {
        display: flex;
        justify-content: flex-end;

        #hamburger-button {
            background-color: transparent;
            border: none;
            width: clamp(32px, 25%, 60px);
            img {
                width: clamp(32px, 100%, 60px);
            }
        }
    }

    /*Estilos para el menu hamburger*/
    #hamburger-menu {
        position: absolute;
        top: 100px;
        left:5%;

        width: 90%;
        padding: 0 10%;

        background-color: white;

        border-radius: 10px;

        text-align: center;
        color: $primary-very-dark-blue;

        > nav > ul {
            padding: 0;

            /*Estilos para los submenus dentro del menu hamburger*/
            .hamburger-submenu {
                list-style: none;

                h4 {
                    padding-left: 3%;

                    font-size: 1.2rem;
                    font-weight: 500;

                    img {
                        margin: 0 0 0.3% 1%;
                        width: 2.5%;

                        transform: scaleY(-1);
                    }
                    img.flipped {
                        transform: scaleY(1);
                    }
                    span.opened {
                        opacity: 0.65;
                    }
                }

                .hamburger-sublist {
                    list-style: none;

                    padding: 15px 0;

                    background-color: rgb(240, 240, 240);
                    opacity: 0.8;

                    border-radius: 10px;

                    li {
                        padding: 10px 0;
                        
                        font-size: 1.1rem;
                    }
                }
            }
            .hamburger-submenu.hidden {
                ul {
                    display: none;
                }
            }
        }

        /*Estilos para los botones del menu hamburger*/
        #div-user-buttons {
            padding: 7% 0 10% 0;

            button {
                width: 45%;

                font-size: 1.2rem;
                font-weight: 500;
            }

            #div-login-button {
                button {
                    margin-bottom: 8%;

                    border: none;

                    background-color: white;

                    color: $primary-very-dark-blue;
                }
            }

            #div-signup-button {
                button {
                    padding: 5% 0;

                    border: none;
                    border-radius: 30px;

                    background-image: linear-gradient(to right, $gradient-very-light-red, $gradient-light-red);

                    color: white;
                }
            }
        }
    }

    #hamburger-menu.hidden {
        display: none;
    }

    /*Estilos para el texto principal*/

    #main-text {
        padding-top: 60px;

        font-family: "Overpass", sans-serif;

        * {
            text-align: center;
        }

        h1 {
            margin-top: 25px;
            margin-bottom: 10px;

            font-size: 40px;
        }
        h4 {
            margin-top: 0px;
        }
    }

    /*Estilos para los botones principales*/

    #main-buttons {
        justify-content: center;
    }
}

/*Main styles*/

main {
    article {
        /*Hay que recortar imagenes usando CSS Slicers*/
        .article-light-row {
            color: $primary-very-dark-blue;
        }

        .article-dark-row {
            background-image: linear-gradient(
                to right,
                $gradient-very-dark-gray-blue,
                $gradient-very-dark-desaturated-blue
            );
            color: white;

            border-top-right-radius: 100px;
            border-bottom-left-radius: 100px;
        }
    }
}

/*Footer styles*/

footer {
    background-color: $very-dark-black-blue;
    color: white;
}
