//PRIMARY

$primary-light-red:hsl(356, 100%, 66%); // CTA text
$primary-very-light-red: hsl(355, 100%, 74%); // CTA hover background
$primary-very-dark-blue: hsl(208, 49%, 24%); // headings


//NEUTRAL

$white : hsl(0, 0%, 100%); // text
$grayish-blue: hsl(240, 2%, 79%); // footer text
$very-dark-grayish-blue: hsl(207, 13%, 34%); // body copy
$very-dark-black-blue: hsl(240, 10%, 16%); // footer background


//BACKGROUDN GRADIENT

//Intro/CTA mobile nav:
$gradient-very-light-red: hsl(13, 100%, 72%);
$gradient-light-red: hsl(353, 100%, 62%);

//body
$gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
$gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%)
